body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#root{
    height: 200px;
    width: 400px;
    background-color: antiquewhite;
    text-align: center;
}