body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    justify-content: center;
}

#main{
    height: 500px;
    width: 800px;
    background-color: antiquewhite;
    text-align: center;
}